
.left_contents{
  margin-top: 100px;
  height: 100%;
  width: 70vw;
  float:left;
  background-color: #bbb;
      li{
        list-style: none;
      }

    &_tweet{
      background-color: #bbb;
      height: 100%;
      width: 100%;

        &_left{
          float: left;
          width: 20vw;
          height: 20vw;
          margin: 10px;
          padding: 1vw;
          border-radius: 20px;
          background-color: white;
          text-align: center;
              &_title{
              }
              &_text{
                margin-top: 3vw;
              }
        }

        &_center{
          float: left;
          width: 22vw;
          height: 22vw;
          margin: 10px 0;
          border-radius: 20px;
          background-color: white;
              &_image{
                width: 22vw;
                height: 22vw;
                border-radius: 20px;
              }
        }

        &_right{
          float: left;
          width: 22vw;
          height: 21vw;
          margin: 10px;
          padding-top: 1vw;
          border-radius: 20px;
          text-align: center;
          background-color: white;
                &_image{
                width: 14vw;
                height: 14vw;
                }
                &_title{
                  margin-top:2vw;
                }
        }
    }
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}


.right_contents{
  margin-top: 100px;
  height: auto;
  width: 30vw;
  float: right;
  background-color: #bbb;


    &-recommended_title{
      height: 40px;
      width: 300px;
      margin: 0 auto;
      padding-top:10px;
      color: #000;/*文字色*/
      background: #FFF;
      border: solid 3px #5d627b;/*線*/
      border-radius: 10px;/*角の丸み*/
        &_font{
          font-size:30px;
          text-align: center;
        }
    }
    &-recommended_main{
      height:100%;
      width: 100%;
      margin-top: 30px;
      text-align: center;


      &_image{
        height:100%;
        width:100%;
        img{
         height: 15vw;
         width: 20vw;
        }
      }
    }
}
