
<%# 投稿一覧(左側のコンテンツ) %>
<div class="left_contents">
  <ul>
    <% @reviews.each do |review| %>
      <li>
        <div class="left_contents-tweet">
            <div class="left_contents-tweet_title">
                <h1><%= review.title %></h1>
            </div>
            <div class="left_contents-tweet_main">
              <%= image_tag(review.image) %>
            </div>
        </div>
        <div class="left_contents_text">
          <h1><%= review.content %></h1>
        </div>
      </li>
    <% end %>
  </ul>
</div>


<%# オススメ画面(右側のコンテンツ) %>
<div class="right_contents">
  <div class="right_contents-recommended_title">
    <h1 class="right_contents-recommended_title_font">オススメ</h1>
  </div>
<ul>
  <li>
    <div class="right_contents-recommended_main">
        <div class="right_contents-recommended_main_image">
          <div class="right_contents-recommended_main_image_title">
            <h1 class="right_contents-recommended_main_image_title_font">吾輩は猫である</h1>
          </div>
        </div>
    </div>
  </li>
  <li>
    <div class="right_contents-recommended_main">
        <div class="right_contents-recommended_main_image">
          <div class="right_contents-recommended_main_image_title">
            <h1 class="right_contents-recommended_main_image_title_font">吾輩は猫である</h1>
          </div>
        </div>
    </div>
  </li>
  <li>
    <div class="right_contents-recommended_main">
        <div class="right_contents-recommended_main_image">
          <div class="right_contents-recommended_main_image_title">
            <h1 class="right_contents-recommended_main_image_title_font">吾輩は猫である</h1>
          </div>
        </div>
    </div>
  </li>
  <li>
    <div class="right_contents-recommended_main">
        <div class="right_contents-recommended_main_image">
          <div class="right_contents-recommended_main_image_title">
            <h1 class="right_contents-recommended_main_image_title_font">吾輩は猫である</h1>
          </div>
        </div>
    </div>
  </li>
 </ul>

</div>
